.git
*.gitignore
.idea
*.mo
*.pyc
*.swp
*.swo
*.~

.dockerignore
docker-compose.yml
docker-compose-dev.yml

Procfile*

.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env
env*
dist
build
*.egg
*.egg-info
_mailinglist
.tox
.cache/
.idea/

# Coverage reports
htmlcov
.coverage
.coverage.*
*,cover